{% for customer in customers %}
    <a href="{% url 'customers' customer.name%}">
        {{customer.name}}<br>
    </a>
{% endfor %}
<br><br>
<table>
    <tr>
        <th>Customer</th>
        <th>Food</th>
        <th>Delivery type</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{order.customer_name}}</td>
        <td>{{order.food}}</td>
        <td>{{order.delivery}}</td>
    </tr>
    {% endfor %}
</table>
<br>
<p>
    <a href="{% url 'foods' %}">See our Menu here</a>
</p>

